header
{
    background: linear-gradient(darkslateblue,plum);
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

#title
{
    display: block;
    margin-left: 10px;
    color: white;
}

#nav
{
    list-style: none;
    float: right;
    display: flex;
    margin-left: 30%;
    margin-top: 45px;
}

.navItem
{
    display: inline;
    padding: 20px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: white;
    border-radius: 50%;
    font-size: medium;
    box-shadow: 10px 10px 10px darkslateblue;
}

#qualHeading
{
    margin-top: 30px;
    color: white;
}

footer
{
    background: linear-gradient(plum,darkslateblue);
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#contactHeading
{
    margin-left: 10px;
    color: white;
    margin-top: 30px;
}

#contacts
{
    list-style: none;
    display: flex;
}

.contactButton
{
    display: inline;
    padding: 10px;
}

.logos
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

body
{
    background-color: plum;
}

section
{
    display: grid;
    grid-template-columns: repeat(2,50%);
    max-width: 50%;
    max-height: 20%;
    margin: 0 auto;
    text-align: center;
    position: static;
    margin-top: 15%;
}

.aboutMe
{
    margin: 0 auto;
    text-align: center;
}

#aboutMeP
{
    margin-top: 20%;
    font-size: large;
}

#profile
{
    width: 95%;
    height: 95%;
    border-radius: 50%;
    box-shadow: 20px 20px 20px darkslateblue;
}